@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* styles.css */

:root {
    --white: #fff4f4;
    --darkwhite:#EBE1E1;
    --beige: #F4D8C8;
    --black: #000000;
    --darkcrymson:#721025;
    --crymson:#D41E45;
    --lightcrymson:#FF2453;
    --teal: #00897b;
    --darkteal: #00695E;
    --light-bg: #f8f9fa;
    --shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    --border-radius: 10px;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--white);
    color: var(--black);
}

.container {
    width: 95dvw;
    margin: 0 auto;
    padding: 10px;
}

h1, h2 {
    color: var(--black);
}

.content-wrapper {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.form-container{
    width: 525px;
    height: 750px;
    background: var(--beige);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.table-container{
    flex: 1;
    background: var(--beige);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: large;
}

input, select, textarea {
    font-family: 'Poppins', sans-serif;
    color: var(--black);
    width: 100%;
    padding: 8px;
    border: 1px solid var(--white);
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

.btn-submit {
    background-color: var(--teal);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    height: 40px;
}

.btn-submit:hover {
    background-color: var(--darkteal);
}

.table-wrapper {
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    color: #000000;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: px solid #ddd;
}

th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--teal);
    color: white;
}

tr{
    background-color: var(--white);
}

tr:hover {
    background-color: var(--darkwhite);
}

.btn-action {
    width: 80px;
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.btn-edit {
    background-color: var(--crymson);
    color: white;
}

.btn-delete {
    background-color: var(--darkcrymson);
    color: white;
}

.btn-details{
    background-color: var(--lightcrymson);
    color: white;
}

@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
    }
}

table {
    table-layout: auto;
    width: 100%;
}

td:nth-child(6) {
    white-space: nowrap;
}

.total-container {
    background-color: var(--teal);
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-container strong {
    font-size: 1.2em;
}

.button-1 {
    background-color: #db3e5d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    padding: 7px 5px;
    transition: background-color 0.3s;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.button-1:hover {
    background-color: #cb3b58;
    color: white;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 325px;
}