<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gráficos de Vendas</title>

    <link rel='shortcut icon' href="{{ url_for('static', filename='assets/LogoBF.png') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">

    
</head>
<body>

    <div class="button-container">
    {% if session.get('is_admin') %}
    <a href="{{ url_for('register')}}" class="redirec-button button-1" style="text-decoration: none; display: inline-block;">
        Cadastrar Membros
    </a>
    <a href="{{ url_for('CadDoaca') }}" class="redirec-button button-2" style="text-decoration: none; display: inline-block;">
        Cadastrar Doações
    </a>
    {% endif %}
    <a href="javascript:void(0)" data-url="{{ url_for('GeraRelat') }}" onclick="validaEredireciona()" class="redirec-button button-3" style="text-decoration: none; display: inline-block;">
        Gerar Relatório
    </a>
    <a href="{{ url_for('logout') }}" class="redirec-button button-3" style="text-decoration: none; display: inline-block;">
        Logout
    </a>
</div>


    <div class="container">
        <h1>Doações recebidas</h1>
        <div class="chart-row">
            <div class="chart-card">
                <h2>Doações por Bimestre</h2>
                <div class="chart-container">
                    <canvas id="barChart"></canvas>
                </div>
            </div>
            
            <div class="chart-card">
                <h2>Total por Ano</h2>
                <div class="chart-container">
                    <canvas id="donutChart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <script>
        const geraRelatUrl = "{{ url_for('GeraRelat') }}";
    </script>

    <script src="{{ url_for('static', filename='main.js') }}"></script>

    {% if sucesso %}
        <script>
            Swal.fire('Sucesso!', 'Cadastro registrado com sucesso.', 'success');
        </script>
    {% endif %} 
</body>
</html>